USE [master]
GO
/****** Object:  Database [DemoExam]    Script Date: 07.05.2026 10:56:18 ******/
CREATE DATABASE [DemoExam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DemoExam', FILENAME = N'C:\Users\name\DemoExam.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DemoExam_log', FILENAME = N'C:\Users\name\DemoExam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DemoExam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DemoExam]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 07.05.2026 10:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[Номер заказа] [int] IDENTITY(1,1) NOT NULL,
	[Дата заказа] [date] NOT NULL,
	[Дата доставки] [date] NOT NULL,
	[Адрес пункта выдачи] [int] NOT NULL,
	[Фамилия клиента] [nvarchar](255) NOT NULL,
	[Имя клиента] [nvarchar](255) NOT NULL,
	[Отчество клиента] [nvarchar](255) NULL,
	[Код для получения] [int] NOT NULL,
	[Статус заказа] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_Заказы] PRIMARY KEY CLUSTERED 
(
	[Номер заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Позиция]    Script Date: 07.05.2026 10:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Позиция](
	[id позиции] [int] IDENTITY(1,1) NOT NULL,
	[Id товара] [int] NOT NULL,
	[Id заказа] [int] NOT NULL,
	[Артикул] [nchar](10) NOT NULL,
	[Количество] [int] NOT NULL,
 CONSTRAINT [PK_Позиция] PRIMARY KEY CLUSTERED 
(
	[id позиции] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 07.05.2026 10:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[Роль сотрудника] [nvarchar](255) NOT NULL,
	[Фамилия] [nvarchar](255) NOT NULL,
	[Имя] [nvarchar](255) NOT NULL,
	[Отчество] [nvarchar](255) NULL,
	[Логин] [nvarchar](255) NOT NULL,
	[Пароль] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пункты выдачи]    Script Date: 07.05.2026 10:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пункты выдачи](
	[id пункта] [int] IDENTITY(1,1) NOT NULL,
	[Индекс] [int] NOT NULL,
	[ Город] [nvarchar](255) NOT NULL,
	[ Улица] [nvarchar](255) NOT NULL,
	[ Дом] [int] NULL,
 CONSTRAINT [PK_Пункты выдачи] PRIMARY KEY CLUSTERED 
(
	[id пункта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товар]    Script Date: 07.05.2026 10:56:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товар](
	[id товара] [int] IDENTITY(1,1) NOT NULL,
	[Артикул] [nvarchar](255) NOT NULL,
	[Наименование товара] [nvarchar](255) NOT NULL,
	[Единица измерения] [nvarchar](255) NOT NULL,
	[Цена] [float] NOT NULL,
	[Поставщик] [nvarchar](255) NOT NULL,
	[Производитель] [nvarchar](255) NOT NULL,
	[Категория товара] [nvarchar](255) NOT NULL,
	[Действующая скидка] [float] NULL,
	[Кол-во на складе] [int] NOT NULL,
	[Описание товара] [nvarchar](255) NULL,
	[Фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_Товар] PRIMARY KEY CLUSTERED 
(
	[id товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Товар] ADD  CONSTRAINT [DF_Товар$_Единица измерения]  DEFAULT (N'шт.') FOR [Единица измерения]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Пункты выдачи] FOREIGN KEY([Адрес пункта выдачи])
REFERENCES [dbo].[Пункты выдачи] ([id пункта])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Пункты выдачи]
GO
ALTER TABLE [dbo].[Позиция]  WITH CHECK ADD  CONSTRAINT [FK_Позиция_Заказы] FOREIGN KEY([Id заказа])
REFERENCES [dbo].[Заказы] ([Номер заказа])
GO
ALTER TABLE [dbo].[Позиция] CHECK CONSTRAINT [FK_Позиция_Заказы]
GO
ALTER TABLE [dbo].[Позиция]  WITH CHECK ADD  CONSTRAINT [FK_Позиция_Товар] FOREIGN KEY([Id товара])
REFERENCES [dbo].[Товар] ([id товара])
GO
ALTER TABLE [dbo].[Позиция] CHECK CONSTRAINT [FK_Позиция_Товар]
GO
USE [master]
GO
